.App {
  text-align: center;
  border: 4px black solid;
  height: 100vh;
}


.title {
  border: 4px red solid;
  background-color: palevioletred;
  padding-top: 10px;
  padding-bottom: 10px;
}

.login {
  border: 4px orange solid;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.navbar {
  border: 4px green solid;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.sortbutton {
  border: 4px blue solid;
}

.reviewsList {
  border: 4px yellow solid;
  list-style-type: none;
}

.review{
  border: 2px solid black;
  color: rgb(10, 10, 10);
  background-color: paleturquoise;
  margin-top: 20px;
  border-radius: 10px;
}

.review:link {
  text-decoration: none;
}

.comments {
  border: 4px rgb(17, 235, 17) solid;
}

.comment {
  border: 2px rgb(240, 138, 6) solid;
  margin-top: 20px;
  padding-bottom: 20px;
  background-color:palegreen;
  border-radius: 10px;
}

.vote_button {
  border: 2px rgb(240, 6, 189) solid;
  display: flex;
  justify-content: space-around;
  border-radius: 25px;
  margin-left: 100px;
  margin-right: 100px;
}

.img {
  height: 300px;
  width: 350px;
}

.singleReview {
  border: 2px black solid;
  background-color:palegoldenrod;
  border-radius: 10px;
}