.App {
  text-align: center;
  border: 4px black solid;
  height: 100vh;
}

.title {
  border: 4px red solid;
}

.navbar {
  border: 4px green solid;
}

.sortbutton {
  border: 4px blue solid;
}

.reviewsList {
  border: 4px yellow solid;
  list-style-type: none;
}

.review{
  border: 4px rgb(88, 230, 235) solid;
  color: rgb(10, 10, 10);
  
}

.review:link {
  text-decoration: none;
}