.App {
  text-align: center;
  border: 4px black solid;
  height: 100vh;
  font-family:'Roboto',sans-serif;
}


.title {
  border: 4px red solid;
  background-color: palevioletred;
  padding-top: 10px;
  padding-bottom: 10px;
}

.login {
  border: 4px orange solid;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.navbar {
  border: 4px green solid;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: 20px;
}

.button {
  border: 2px blue solid;
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border-radius:2em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#FFFFFF;
  background-color:#4eb5f1;
  text-align:center;
  transition: all 0.2s;
}

.button:hover {
  background-color:#4095c6;
  }

.reviewsList {
  border: 4px yellow solid;
  list-style-type: none;
}

.review{
  border: 2px solid black;
  color: rgb(10, 10, 10);
  background-color: paleturquoise;
  margin-top: 20px;
  border-radius: 10px;
  padding-top: 20px;
}

.review:link {
  text-decoration: none;
}

.comments {
  border: 4px rgb(17, 235, 17) solid;
}

.comment {
  border: 2px rgb(240, 138, 6) solid;
  margin-top: 20px;
  padding-bottom: 20px;
  background-color:palegreen;
  border-radius: 10px;
}

.vote_button {
  border: 2px rgb(240, 6, 189) solid;
  display: flex;
  justify-content: space-around;
  border-radius: 25px;
  margin-left: 100px;
  margin-right: 100px;
}

.img {
  height: 300px;
  width: 350px;
}

.singleReview {
  border: 2px black solid;
  background-color:palegoldenrod;
  border-radius: 10px;
  padding-top: 20px;
}

/* Loading-spinner */
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fcf;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fcf transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Loading-spinner */